<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

  <div class="wrap">
  
     <div class="toc-wrapper">
		<div class="toc-container">
			<ol class="toc-none">
				<li><b> <a href="/PL_Lections_2014-2015/" class="">На главную</a> </b></li>
				<li>
					<script >getNavigation()</script>
				</li>
			</ol>
			<hr>
			<ol class="toc js-toc">
				
			</ol>
		</div>
    </div>
    

    <div class="container content">
      

      {{ content }}

      <div class="footer">
        <table style="font-size:12px;text-align:center"><tr>

          <td>(&#8580;) {{ site.time | date: '%Y' }} Мехмат ЮФУ</td>
          
          <td><a href="{{ site.ghurl }}">GitHub Sources</a></td>

		  <td>
		  <a href="http://it.mmcs.sfedu.ru/">
		    <img src="{{ site.baseurl }}/img/csit-site.png" width="200px">
		  </a>
          </td>
        </tr></table>
      </div>
    </div>
    
    </div>

  </body>
</html>
